<div class="pt-3">
  <p id="notice"><%= notice %></p>

  <h1>Movies</h1>

  <!-- <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Youtube</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.description %></td>
          <td><%= movie.youtube_id %></td>
          <td><%= movie.user_id %></td>
          <td><%= link_to 'Show', movie %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table> -->

  <section>
		<div class="container">
			<div class="row">
        <% @movies.each do |movie| %>
          <div class="col-xl-5 col-lg-5 col-md-5 col-12">
            <div class="iframe-video">
              <iframe width='480' height='320' src="http://www.youtube.com/embed/<%= movie.youtube_id %>" frameborder='0' allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-7 col-12">
            <div class="about-text">
              <h3><%= movie.title %></h3>
              <div class="d-flex">
                <span class="pe-3">
                  <h4>Shared by: <%= movie.user&.username %></h4>
                </span>
                <span>
                  <% if current_user %>
                    <% user_actions = movie.user_actions.where(user_id: current_user.id) %>
                    <% if user_actions.present? %>
                      <% if user_actions.first.action == 'vote' %>
                        <i class="fa-solid fa-thumbs-up" style="font-size: 20px;"></i>
                      <% else %>
                        <i class="fa-solid fa-thumbs-down" style="font-size: 20px;"></i>
                      <% end %>
                    <% else %>
                      <%= link_to movie_vote_path(movie, vote: 'vote'), class: 'user-action-button me-2', data: { disable_with: 'Loading...' }, method: :post, remote: true do %>
                        <i class="fa-regular fa-thumbs-up" style="font-size: 20px;"></i>
                      <% end %>
                      <%= link_to movie_vote_path(movie, vote: 'unvote'), class: 'user-action-button', data: { disable_with: 'Loading...' }, method: :post, remote: true do %>
                        <i class="fa-regular fa-thumbs-down" style="font-size: 20px;"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </span>
              </div>
              <% if movie.votes_count == 0 && movie.unvotes_count == 0 %>
                <div>
                  <span>
                    <%= movie.votes_count %><i class="fa-regular fa-thumbs-up"></i>
                  </span>
                  <span>
                    <%= movie.unvotes_count %><i class="fa-regular fa-thumbs-down"></i>
                  </span>
                </div>
              <% end %>
              <p>Description: <%= movie.description %></a>
            </div>
          </div>
        <% end %>
			</div>
		</div>
	</section>

  <br>

  <div class="align-items-end">
    <%= link_to 'Share a Movie', new_movie_path, style: 'padding: 5px;' %>
  </div>
</div>